
#head
{
    height: 100px;
    background-color: #4766a9;
    width: 100%;
    box-shadow: 0px 4px #f0f2f7;
}
.form1
{
    float: right;
    margin-right: 50px;
    padding-right: 90px;
    margin: 35px;
    color: white;
}
#left{
    float: left;
    margin: 90px;
    margin-top: 50px;
    text-align: left;
    font-size: 20px;
}
   
.submit{
    background-color: #4067b3;
    border: none;
    box-shadow: 1px 1px black;
    cursor: pointer;

}
#signup
{
    float: right;
    margin-right: 200px;
}
.fo
{
   padding: 0px;
       
}
input{
    height: 30px;
    border: 1px;
    border-radius: 3px;
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
    box-shadow: 1px 1px #f0f2f7;
}
.in
{height: auto;
    border: auto;
    border-radius: auto;
    text-align: auto;
    padding-left: auto;
    font-size: 30px;
    box-shadow: 1px 1px #f0f2f7;
}
.se
{
   height: 30px;
    border: 1px;
    border-radius: 3px;
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
    box-shadow: 1px 1px #f0f2f7;
}